.hdm-feed-footer{
    padding: 0px 10px 10px 10px;
    color: #65676B;

    .hd-footer-info{
        display: flex;
    }

    .hd-like-info{
        display: flex;
        flex: auto;
    }

    .hd-comment-share-info span{
        padding-left: 6px;
    }

}